# Visual Studio / .NET
.vs/
bin/
obj/
*.user
*.suo
*.cache
*.pdb
*.dbmdl
*.log

# Build results
[Bb]uild/
[Rr]elease/
[Dd]ebug/
x64/
x86/
*.exe
*.dll

# Outros temporários
*.tmp
*.bak
*.swp
*.vspx
*.vspscc
*.vssscc
